@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(85, 105, 135);
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.label {
  color: rgb(34, 197, 94);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 2.25rem;
  -webkit-box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(105, 81, 255, 0.05);
          box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(105, 81, 255, 0.05);
  background: rgb(220, 252, 231);
  display: inline-block;
  padding: 0.125rem 0.5rem;
}

.label--center {
  text-align: center;
}

.title--big {
  font-weight: 700;
  line-height: 125%;
  /* 60/48 */
  letter-spacing: -2%;
}

.title--big--green {
  color: rgb(34, 197, 94);
}

.title {
  color: rgb(42, 51, 66);
  font-weight: 700;
  line-height: 1.2;
  /* 44/36 */
  letter-spacing: -2%;
}

.title--item {
  color: rgb(42, 51, 66);
  font-weight: 700;
  line-height: 1.3;
  /* 32/24 */
  letter-spacing: 0%;
}

.text--item {
  color: rgb(85, 105, 135);
  font-weight: 500;
  line-height: 1.5;
  /* 24/16 */
  letter-spacing: 0%;
}

.text {
  font-weight: 500;
  line-height: 150%;
  /* 30/20 */
  color: rgb(85, 105, 135);
}

.button {
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3.5625rem;
  padding: 0.875rem 1.75rem;
  color: rgb(240, 253, 244);
  font-weight: 500;
  line-height: 155%;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(105, 81, 255, 0.05);
          box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(105, 81, 255, 0.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button--green {
  background-color: rgb(34, 197, 94);
  border: 0.0625rem solid rgb(34, 197, 94);
}

.button--white {
  color: rgb(51, 63, 81);
  border: 0.0625rem solid rgb(213, 218, 225);
  background-color: rgb(187, 195, 207);
}

.header__container {
  max-width: 79.0625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.header__logo img {
  max-width: 100%;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.menu {
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  position: relative;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.1875rem;
}

.menu__link {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: rgb(136, 150, 171);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.button-login {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.button-singup {
  color: rgb(240, 253, 244);
  padding: 0.4375rem 0.9375rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 143%;
  /* 20/14 */
  border-radius: 0.375rem;
  -webkit-box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(105, 81, 255, 0.05);
          box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(105, 81, 255, 0.05);
  background: rgb(34, 197, 94);
  border: 0.0625rem solid rgb(34, 197, 94);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-menu {
  display: none;
}

.hero {
  background-color: #f7f8f9;
  position: relative;
  z-index: -2;
}

.hero__container {
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: -1;
}

.hero__body {
  text-align: center;
  background: rgb(42, 51, 66);
  border-radius: 1.125rem;
}

.hero__label {
  color: #fff;
  background-color: rgb(34, 197, 94);
}

.hero__title {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  /* 72/60 */
  letter-spacing: -2%;
  max-width: 50rem;
  margin: 0 auto;
}

.hero__text {
  color: rgb(136, 150, 171);
  max-width: 45rem;
  text-align: center;
  margin: 0 auto;
}

.decore-hero__item {
  position: absolute;
  z-index: 3;
}

.decore-hero__item:nth-child(1) {
  top: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.decore-hero__item:nth-child(1) img {
  width: 100%;
}

.decore-hero__item:nth-child(2) img {
  width: 100%;
}

.decore-hero__item:nth-child(3) img {
  width: 100%;
}

.decore-hero__item:nth-child(4) {
  bottom: 0;
  right: 0.9375rem;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.decore-hero__item:nth-child(4) img {
  width: 100%;
}

.form-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.form-mail:not(:last-child) {
  padding-bottom: 1rem;
}

.form-mail__input-container {
  position: relative;
}

.form-mail__input-container span {
  position: absolute;
  left: 0;
}

.form-mail__input-container span::after {
  content: "";
  position: absolute;
  background: url(../img/hero/icons/envelope.svg) 0 0 no-repeat;
  top: 1.3125rem;
  left: 0.9375rem;
  width: 1.25rem;
  height: 1rem;
}

.form-mail__input {
  width: 100%;
  border: 0.0625rem solid rgb(213, 218, 225);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.05);
          box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  padding: 0.9375rem 0.875rem 0.9375rem 2.875rem;
}

.form-mail__input::-webkit-input-placeholder {
  color: rgb(102, 112, 133);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-mail__input::-moz-placeholder {
  color: rgb(102, 112, 133);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-mail__input:-ms-input-placeholder {
  color: rgb(102, 112, 133);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-mail__input::-ms-input-placeholder {
  color: rgb(102, 112, 133);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-mail__input::placeholder {
  color: rgb(102, 112, 133);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-mail__label {
  color: rgb(136, 150, 171);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 143%;
  /* 20/14 */
}

.partners {
  background-color: #f7f8f9;
  position: relative;
}

.no-webp .partners::after{
  background: url(../img/partners/grid-decore.png) center/100% no-repeat; }

.partners::after {
  content: "";
  position: absolute;
  min-width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0;
  z-index: 1;
}

.partners::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) -87%, #f7f8f9 59%);
  width: 100%;
  min-height: 100%;
  top: 0rem;
  left: 0;
  z-index: 2;
}

.partners__decore {
  position: absolute;
  z-index: -1;
  bottom: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  left: 0;
}

.partners__decore img {
  -o-object-fit: cover;
     object-fit: cover;
}

.partners__title {
  position: relative;
  z-index: 3;
  text-align: center;
  color: rgb(187, 195, 207);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.partners__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
  grid-template-columns: repeat(5, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}

.partners__item {
  position: relative;
  z-index: 3;
}

.partners__item img {
  max-width: 100%;
}

.features__container {
  text-align: center;
  position: relative;
}

.no-webp .features__container::after{
  background: url(../img/partners/grid-decore.png) center/100% no-repeat; }

.features__container::after {
  content: "";
  position: absolute;
  min-width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0;
  z-index: -2;
}

.features__container::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) -87%, #fff 96%);
  width: 100%;
  min-height: 100%;
  top: 0rem;
  left: 0;
  z-index: -1;
}

.features__label {
  margin-bottom: 1rem;
}

.features__title:not(:last-child) {
  margin-bottom: 1rem;
}

.features__text {
  max-width: 57.4375rem;
  margin: 0 auto;
}

.features__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17.5rem, 22.5rem))[3];
  grid-template-columns: repeat(3, minmax(17.5rem, 22.5rem));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.item-features {
  text-align: center;
}

.item-features__icon {
  background-color: rgb(34, 197, 94);
  margin: 0 auto;
  border-radius: 0.375rem;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-features__text {
  margin: 0 auto;
}

.fastestway {
  position: relative;
}

.fastestway::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgb(247, 248, 249);
}

.fastestway__body {
  background-color: rgb(28, 35, 45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  border-radius: 0.375rem;
  position: relative;
}

.fastestway__body::after {
  content: "";
  position: absolute;
  background: url(../img/grid-decore.svg) center/100% no-repeat;
  min-width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0;
  z-index: 0;
}

.fastestway__body::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) -87%, rgb(28, 35, 45) 32%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.375rem;
}

.fastestway__info {
  position: relative;
  z-index: 2;
}

.fastestway__title {
  color: #fff;
}

.fastestway__action {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}

.fastestway__button {
  width: 100%;
}

.featur {
  background: rgb(247, 248, 249);
}

.featur__container {
  position: relative;
}

.featur__container::after {
  content: "";
  position: absolute;
  background: url(../img/grid-decore.svg) center/100% no-repeat;
  min-width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0;
  z-index: 0;
}

.featur__container::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) -228%, rgb(247, 248, 249) 45%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.375rem;
}

.featur__header {
  position: relative;
  z-index: 2;
  max-width: 57.4375rem;
}

.featur__label:not(:last-child) {
  margin-bottom: 1rem;
}

.featur__title:not(:last-child) {
  margin-bottom: 1rem;
}

.featur__body {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: minmax(auto, 39%) auto;
  grid-template-columns: minmax(auto, 39%) auto;
  gap: 0.9375rem;
}

.featur__items {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.featur__graphik {
  position: relative;
}

.featur__image {
  overflow: hidden;
  border-radius: 1.5rem;
}

.featur__image img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.featur__decore-item {
  position: absolute;
}

.featur__decore-item img {
  width: 100%;
}

.item-featur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: start;
      justify-self: start;
}

.item-featur__icon svg {
  width: 1.3125rem;
}

.item-featur__title:not(:last-child) {
  padding-bottom: 0.875rem;
}

.numbers {
  background-color: #fff;
}

.numbers__container {
  position: relative;
}

.numbers__container::after {
  content: "";
  position: absolute;
  background: url(../img/grid-decore.svg) center/100% no-repeat;
  min-width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0;
  z-index: 0;
}

.numbers__container::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) -228%, #fff 45%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.375rem;
}

.numbers__header {
  position: relative;
  z-index: 2;
  text-align: center;
}

.numbers__label:not(:last-child) {
  margin-bottom: 1rem;
}

.numbers__title:not(:last-child) {
  margin-bottom: 1rem;
}

.numbers__text {
  max-width: 57.4375rem;
  margin: 0 auto;
}

.numbers__body {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.item-numbers {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-row-align: start;
      align-self: start;
}

.item-numbers__title {
  height: 100%;
}

.item-numbers__title:not(:last-child) {
  padding-bottom: 0.5rem;
}

@media (min-width: 29.99875em) {
  .item-features__text {
    max-width: 18.4375rem;
  }
}

@media (min-width: 47.99875em) {
  .menu {
    position: relative;
    z-index: 15;
  }
}

@media (min-width: 61.99875em) {
  .fastestway__info {
    max-width: 28.5rem;
  }
}

@media (min-width: 75em) {
  .title--big {
    font-size: 3rem;
  }

  .title {
    font-size: 2.25rem;
  }

  .title--item {
    font-size: 1.5rem;
  }

  .text--item {
    font-size: 1rem;
  }

  .text {
    font-size: 1.25rem;
  }

  .button {
    font-size: 1.125rem;
  }

  .header__container {
    min-height: 5rem;
  }

  .header__action {
    gap: 1.5rem;
  }

  .hero__body {
    padding-top: 5.5rem;
  }

  .hero__body {
    padding-bottom: 5.5rem;
  }

  .hero__body {
    padding-left: 9.125rem;
  }

  .hero__body {
    padding-right: 9.125rem;
  }

  .hero__label:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .hero__text:not(:last-child) {
    padding-bottom: 1.625rem;
  }

  .decore-hero__item:nth-child(2) {
    top: 1.5rem;
  }

  .decore-hero__item:nth-child(2) {
    right: 1.5rem;
  }

  .decore-hero__item:nth-child(2) {
    width: 9.3125rem;
  }

  .decore-hero__item:nth-child(3) {
    left: 1.5rem;
  }

  .decore-hero__item:nth-child(3) {
    bottom: 1.5rem;
  }

  .decore-hero__item:nth-child(3) {
    width: 9.3125rem;
  }

  .partners {
    padding-bottom: 5.5rem;
  }

  .partners {
    padding-top: 5.5rem;
  }

  .partners {
    margin-bottom: 7.5rem;
  }

  .features {
    padding-top: 5.625rem;
  }

  .features {
    padding-bottom: 8.125rem;
  }

  .features__text:not(:last-child) {
    padding-bottom: 5rem;
  }

  .features__body {
    row-gap: 4rem;
  }

  .item-features__icon {
    margin-bottom: 1.5rem;
  }

  .item-features__title {
    margin-bottom: 1rem;
  }

  .fastestway {
    padding-top: 4.6875rem;
  }

  .fastestway {
    padding-bottom: 3.75rem;
  }

  .fastestway__body {
    padding-top: 3.9375rem;
  }

  .fastestway__body {
    padding-bottom: 3.9375rem;
  }

  .fastestway__body {
    padding-right: 5.8125rem;
  }

  .fastestway__body {
    padding-left: 5.8125rem;
  }

  .fastestway__title:not(:last-child) {
    padding-bottom: 1rem;
  }

  .featur {
    padding-top: 5.625rem;
  }

  .featur {
    padding-bottom: 7.5rem;
  }

  .featur__header:not(:last-child) {
    padding-bottom: 5rem;
  }

  .featur__decore-item:first-child {
    top: -1.875rem;
  }

  .featur__decore-item:first-child {
    left: -1.875rem;
  }

  .featur__decore-item:first-child {
    width: 8.125rem;
  }

  .featur__decore-item:last-child {
    bottom: -1.875rem;
  }

  .featur__decore-item:last-child {
    right: -1.875rem;
  }

  .featur__decore-item:last-child {
    width: 8.125rem;
  }

  .item-featur {
    gap: 1.5rem;
  }

  .item-featur__icon {
    min-width: 3.5rem;
  }

  .item-featur__icon {
    height: 3.5rem;
  }

  .item-featur__info {
    padding-top: 0.75rem;
  }

  .numbers {
    padding-top: 5.5rem;
  }

  .numbers {
    padding-bottom: 7.5rem;
  }

  .numbers__header:not(:last-child) {
    padding-bottom: 6rem;
  }
}

@media (min-width: 90em) {
  .menu__list {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }

  .decore-hero__item:nth-child(1) {
    width: 16.9375rem;
  }

  .decore-hero__item:nth-child(4) {
    width: 16.9375rem;
  }

  .form-mail__input-container {
    width: 20rem;
  }

  .partners__body {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

@media (max-width: 20em) {
  .title--big {
    font-size: 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .title--item {
    font-size: 1.125rem;
  }

  .text--item {
    font-size: 0.75rem;
  }

  .text {
    font-size: 0.8125rem;
  }

  .button {
    font-size: 0.875rem;
  }

  .header__container {
    min-height: 3.75rem;
  }

  .header__action {
    gap: 0.625rem;
  }

  .hero__body {
    padding-top: 2.1875rem;
  }

  .hero__body {
    padding-bottom: 2.1875rem;
  }

  .hero__label:not(:last-child) {
    margin-bottom: 1rem;
  }

  .hero__title {
    font-size: 1.875rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1rem;
  }

  .hero__text:not(:last-child) {
    padding-bottom: 2.1875rem;
  }

  .decore-hero__item:nth-child(1) {
    width: 6.25rem;
  }

  .decore-hero__item:nth-child(2) {
    top: 0.625rem;
  }

  .decore-hero__item:nth-child(2) {
    right: 0.625rem;
  }

  .decore-hero__item:nth-child(2) {
    width: 4.375rem;
  }

  .decore-hero__item:nth-child(3) {
    left: 0.625rem;
  }

  .decore-hero__item:nth-child(3) {
    bottom: 0.625rem;
  }

  .decore-hero__item:nth-child(3) {
    width: 4.375rem;
  }

  .decore-hero__item:nth-child(4) {
    width: 5rem;
  }

  .partners {
    padding-bottom: 2.5rem;
  }

  .partners {
    padding-top: 2.5rem;
  }

  .partners {
    margin-bottom: 0.625rem;
  }

  .partners__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .features {
    padding-top: 2.5rem;
  }

  .features {
    padding-bottom: 3.125rem;
  }

  .features__text:not(:last-child) {
    padding-bottom: 1.875rem;
  }

  .features__body {
    row-gap: 2rem;
  }

  .item-features__icon {
    margin-bottom: 0.875rem;
  }

  .item-features__title {
    margin-bottom: 0.625rem;
  }

  .fastestway {
    padding-top: 1.875rem;
  }

  .fastestway {
    padding-bottom: 1.875rem;
  }

  .fastestway__body {
    padding-top: 1.25rem;
  }

  .fastestway__body {
    padding-bottom: 1.25rem;
  }

  .fastestway__body {
    padding-right: 0.3125rem;
  }

  .fastestway__body {
    padding-left: 0.3125rem;
  }

  .fastestway__title:not(:last-child) {
    padding-bottom: 0.625rem;
  }

  .featur {
    padding-top: 2.5rem;
  }

  .featur {
    padding-bottom: 3.125rem;
  }

  .featur__header:not(:last-child) {
    padding-bottom: 2.5rem;
  }

  .featur__decore-item:first-child {
    top: -0.625rem;
  }

  .featur__decore-item:first-child {
    left: -0.625rem;
  }

  .featur__decore-item:first-child {
    width: 5rem;
  }

  .featur__decore-item:last-child {
    bottom: -0.625rem;
  }

  .featur__decore-item:last-child {
    right: -0.625rem;
  }

  .featur__decore-item:last-child {
    width: 5rem;
  }

  .item-featur {
    gap: 0.875rem;
  }

  .item-featur__icon {
    min-width: 2.875rem;
  }

  .item-featur__icon {
    height: 2.875rem;
  }

  .item-featur__info {
    padding-top: 0.3125rem;
  }

  .numbers {
    padding-top: 1.875rem;
  }

  .numbers {
    padding-bottom: 3.125rem;
  }

  .numbers__header:not(:last-child) {
    padding-bottom: 2.8125rem;
  }
}

@media (max-width: 61.99875em) {
  .partners__body {
    -ms-grid-columns: (auto)[6];
    grid-template-columns: repeat(6, auto);
  }

  .partners__item {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .partners__item:nth-child(5) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .features__body {
    -ms-grid-columns: (minmax(17.5rem, 22.5rem))[2];
    grid-template-columns: repeat(2, minmax(17.5rem, 22.5rem));
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .fastestway__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5625rem;
  }

  .featur__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .featur__graphik {
    -ms-grid-row: 1;
    grid-area: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .featur__body {
    gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -ms-grid-columns: 1fr auto auto;
    grid-template-columns: 1fr auto auto;
  }

  .menu {
    overflow: auto;
    padding: 5rem 0.625rem 1.875rem 0.625rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu {
    left: 0%;
    text-align: center;
    row-gap: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(220, 252, 231);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(34, 197, 94);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
    width: 30%;
    left: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 100%;
  }

  .hero__body {
    padding-left: 0.625rem;
  }

  .hero__body {
    padding-right: 0.625rem;
  }

  .decore-hero__item:nth-child(2) {
    display: none;
  }

  .decore-hero__item:nth-child(3) {
    display: none;
  }

  .numbers__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu-open .menu__link {
    font-size: 1.125rem;
  }

  .menu__list {
    row-gap: 0.9375rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 43.125em) {
  .features__body {
    -ms-grid-columns: (minmax(17.5rem, 22.5rem))[1];
    grid-template-columns: repeat(1, minmax(17.5rem, 22.5rem));
  }
}

@media (max-width: 31.875em) {
  .form-mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-mail__input-container {
    width: 16.25rem;
  }

  .form-mail__input-container {
    width: 100%;
  }

  .form-mail__button {
    width: 100%;
  }

  .partners__body {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
  }

  .partners__item {
    max-width: 8.4375rem;
  }

  .partners__item:nth-child(5) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    width: 4.6875rem;
  }

  .partners__decore img {
    height: 100%;
    width: 100%;
  }

  .fastestway__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem )) {
    .title--big {
      font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem )) {
    .title--big {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem )) {
    .title {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .title--item {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .title--item {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
    .text--item {
      font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
    .text--item {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6534090909rem  +  0.7954545455vw , 1.25rem )) {
    .text {
      font-size: clamp( 0.8125rem , 0.6534090909rem  +  0.7954545455vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6534090909rem  +  0.7954545455vw , 1.25rem )) {
    .text {
      font-size: calc(0.8125rem + 0.4375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem )) {
    .button {
      font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem )) {
    .button {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .header__container {
      min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem );
    }
}

@supports not (min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .header__container {
      min-height: calc(3.75rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .header__action {
      gap: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .header__action {
      gap: calc(0.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.9829545455rem  +  6.0227272727vw , 5.5rem )) {
    .hero__body {
      padding-top: clamp( 2.1875rem , 0.9829545455rem  +  6.0227272727vw , 5.5rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.9829545455rem  +  6.0227272727vw , 5.5rem )) {
    .hero__body {
      padding-top: calc(2.1875rem + 3.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.9829545455rem  +  6.0227272727vw , 5.5rem )) {
    .hero__body {
      padding-bottom: clamp( 2.1875rem , 0.9829545455rem  +  6.0227272727vw , 5.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.9829545455rem  +  6.0227272727vw , 5.5rem )) {
    .hero__body {
      padding-bottom: calc(2.1875rem + 3.3125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .hero__label:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .hero__label:not(:last-child) {
      margin-bottom: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .hero__title {
      font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .hero__title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.625rem , 2.3920454545rem  +  -1.0227272727vw , 2.1875rem )) {
    .hero__text:not(:last-child) {
      padding-bottom: clamp( 1.625rem , 2.3920454545rem  +  -1.0227272727vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.625rem , 2.3920454545rem  +  -1.0227272727vw , 2.1875rem )) {
    .hero__text:not(:last-child) {
      padding-bottom: calc(2.1875rem + -0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (top: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .decore-hero__item:nth-child(2) {
      top: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem );
    }
}

@supports not (top: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .decore-hero__item:nth-child(2) {
      top: calc(0.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (right: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .decore-hero__item:nth-child(2) {
      right: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem );
    }
}

@supports not (right: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .decore-hero__item:nth-child(2) {
      right: calc(0.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 4.375rem , 2.5795454545rem  +  8.9772727273vw , 9.3125rem )) {
    .decore-hero__item:nth-child(2) {
      width: clamp( 4.375rem , 2.5795454545rem  +  8.9772727273vw , 9.3125rem );
    }
}

@supports not (width: clamp( 4.375rem , 2.5795454545rem  +  8.9772727273vw , 9.3125rem )) {
    .decore-hero__item:nth-child(2) {
      width: calc(4.375rem + 4.9375 * (100vw - 20rem) / 55);
    }
}

@supports (left: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .decore-hero__item:nth-child(3) {
      left: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem );
    }
}

@supports not (left: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .decore-hero__item:nth-child(3) {
      left: calc(0.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (bottom: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .decore-hero__item:nth-child(3) {
      bottom: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem );
    }
}

@supports not (bottom: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .decore-hero__item:nth-child(3) {
      bottom: calc(0.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 4.375rem , 2.5795454545rem  +  8.9772727273vw , 9.3125rem )) {
    .decore-hero__item:nth-child(3) {
      width: clamp( 4.375rem , 2.5795454545rem  +  8.9772727273vw , 9.3125rem );
    }
}

@supports not (width: clamp( 4.375rem , 2.5795454545rem  +  8.9772727273vw , 9.3125rem )) {
    .decore-hero__item:nth-child(3) {
      width: calc(4.375rem + 4.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem )) {
    .partners {
      padding-bottom: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem )) {
    .partners {
      padding-bottom: calc(2.5rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem )) {
    .partners {
      padding-top: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem )) {
    .partners {
      padding-top: calc(2.5rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -1.875rem  +  12.5vw , 7.5rem )) {
    .partners {
      margin-bottom: clamp( 0.625rem , -1.875rem  +  12.5vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -1.875rem  +  12.5vw , 7.5rem )) {
    .partners {
      margin-bottom: calc(0.625rem + 6.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.3636363636rem  +  5.6818181818vw , 5.625rem )) {
    .features {
      padding-top: clamp( 2.5rem , 1.3636363636rem  +  5.6818181818vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.3636363636rem  +  5.6818181818vw , 5.625rem )) {
    .features {
      padding-top: calc(2.5rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.3068181818rem  +  9.0909090909vw , 8.125rem )) {
    .features {
      padding-bottom: clamp( 3.125rem , 1.3068181818rem  +  9.0909090909vw , 8.125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.3068181818rem  +  9.0909090909vw , 8.125rem )) {
    .features {
      padding-bottom: calc(3.125rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .features__text:not(:last-child) {
      padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .features__text:not(:last-child) {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (row-gap: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .features__body {
      row-gap: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem );
    }
}

@supports not (row-gap: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .features__body {
      row-gap: calc(2rem + 2 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem )) {
    .item-features__icon {
      margin-bottom: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem )) {
    .item-features__icon {
      margin-bottom: calc(0.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4886363636rem  +  0.6818181818vw , 1rem )) {
    .item-features__title {
      margin-bottom: clamp( 0.625rem , 0.4886363636rem  +  0.6818181818vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4886363636rem  +  0.6818181818vw , 1rem )) {
    .item-features__title {
      margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem )) {
    .fastestway {
      padding-top: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem )) {
    .fastestway {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .fastestway {
      padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .fastestway {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.2727272727rem  +  4.8863636364vw , 3.9375rem )) {
    .fastestway__body {
      padding-top: clamp( 1.25rem , 0.2727272727rem  +  4.8863636364vw , 3.9375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.2727272727rem  +  4.8863636364vw , 3.9375rem )) {
    .fastestway__body {
      padding-top: calc(1.25rem + 2.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.2727272727rem  +  4.8863636364vw , 3.9375rem )) {
    .fastestway__body {
      padding-bottom: clamp( 1.25rem , 0.2727272727rem  +  4.8863636364vw , 3.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.2727272727rem  +  4.8863636364vw , 3.9375rem )) {
    .fastestway__body {
      padding-bottom: calc(1.25rem + 2.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.3125rem , -1.6875rem  +  10vw , 5.8125rem )) {
    .fastestway__body {
      padding-right: clamp( 0.3125rem , -1.6875rem  +  10vw , 5.8125rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -1.6875rem  +  10vw , 5.8125rem )) {
    .fastestway__body {
      padding-right: calc(0.3125rem + 5.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.6875rem  +  10vw , 5.8125rem )) {
    .fastestway__body {
      padding-left: clamp( 0.3125rem , -1.6875rem  +  10vw , 5.8125rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.6875rem  +  10vw , 5.8125rem )) {
    .fastestway__body {
      padding-left: calc(0.3125rem + 5.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4886363636rem  +  0.6818181818vw , 1rem )) {
    .fastestway__title:not(:last-child) {
      padding-bottom: clamp( 0.625rem , 0.4886363636rem  +  0.6818181818vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4886363636rem  +  0.6818181818vw , 1rem )) {
    .fastestway__title:not(:last-child) {
      padding-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.3636363636rem  +  5.6818181818vw , 5.625rem )) {
    .featur {
      padding-top: clamp( 2.5rem , 1.3636363636rem  +  5.6818181818vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.3636363636rem  +  5.6818181818vw , 5.625rem )) {
    .featur {
      padding-top: calc(2.5rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .featur {
      padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .featur {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .featur__header:not(:last-child) {
      padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .featur__header:not(:last-child) {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (top: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem )) {
    .featur__decore-item:first-child {
      top: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem );
    }
}

@supports not (top: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem )) {
    .featur__decore-item:first-child {
      top: calc(-0.625rem + -1.25 * (100vw - 20rem) / 55);
    }
}

@supports (left: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem )) {
    .featur__decore-item:first-child {
      left: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem );
    }
}

@supports not (left: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem )) {
    .featur__decore-item:first-child {
      left: calc(-0.625rem + -1.25 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem )) {
    .featur__decore-item:first-child {
      width: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem );
    }
}

@supports not (width: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem )) {
    .featur__decore-item:first-child {
      width: calc(5rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (bottom: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem )) {
    .featur__decore-item:last-child {
      bottom: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem );
    }
}

@supports not (bottom: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem )) {
    .featur__decore-item:last-child {
      bottom: calc(-0.625rem + -1.25 * (100vw - 20rem) / 55);
    }
}

@supports (right: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem )) {
    .featur__decore-item:last-child {
      right: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem );
    }
}

@supports not (right: clamp( -1.875rem , -0.1704545455rem  +  -2.2727272727vw , -0.625rem )) {
    .featur__decore-item:last-child {
      right: calc(-0.625rem + -1.25 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem )) {
    .featur__decore-item:last-child {
      width: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem );
    }
}

@supports not (width: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem )) {
    .featur__decore-item:last-child {
      width: calc(5rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem )) {
    .item-featur {
      gap: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem )) {
    .item-featur {
      gap: calc(0.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (min-width: clamp( 2.875rem , 2.6477272727rem  +  1.1363636364vw , 3.5rem )) {
    .item-featur__icon {
      min-width: clamp( 2.875rem , 2.6477272727rem  +  1.1363636364vw , 3.5rem );
    }
}

@supports not (min-width: clamp( 2.875rem , 2.6477272727rem  +  1.1363636364vw , 3.5rem )) {
    .item-featur__icon {
      min-width: calc(2.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 2.875rem , 2.6477272727rem  +  1.1363636364vw , 3.5rem )) {
    .item-featur__icon {
      height: clamp( 2.875rem , 2.6477272727rem  +  1.1363636364vw , 3.5rem );
    }
}

@supports not (height: clamp( 2.875rem , 2.6477272727rem  +  1.1363636364vw , 3.5rem )) {
    .item-featur__icon {
      height: calc(2.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.3125rem , 0.1534090909rem  +  0.7954545455vw , 0.75rem )) {
    .item-featur__info {
      padding-top: clamp( 0.3125rem , 0.1534090909rem  +  0.7954545455vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.3125rem , 0.1534090909rem  +  0.7954545455vw , 0.75rem )) {
    .item-featur__info {
      padding-top: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem )) {
    .numbers {
      padding-top: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem )) {
    .numbers {
      padding-top: calc(1.875rem + 3.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .numbers {
      padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .numbers {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.8125rem , 1.6534090909rem  +  5.7954545455vw , 6rem )) {
    .numbers__header:not(:last-child) {
      padding-bottom: clamp( 2.8125rem , 1.6534090909rem  +  5.7954545455vw , 6rem );
    }
}

@supports not (padding-bottom: clamp( 2.8125rem , 1.6534090909rem  +  5.7954545455vw , 6rem )) {
    .numbers__header:not(:last-child) {
      padding-bottom: calc(2.8125rem + 3.1875 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 75em) {
  .menu-open .menu__link {
    font-size: 1.625rem;
  }

  .menu__list {
    row-gap: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem )) {
    .menu-open .menu__link {
      font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem )) {
    .menu-open .menu__link {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .menu__list {
      row-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .menu__list {
      row-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 90em) {
@supports ((-moz-column-gap: clamp( 2.1875rem , 1.2589803875rem  +  1.9344662361vw , 3rem )) or (column-gap: clamp( 2.1875rem , 1.2589803875rem  +  1.9344662361vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 2.1875rem , 1.2589803875rem  +  1.9344662361vw , 3rem );
         -moz-column-gap: clamp( 2.1875rem , 1.2589803875rem  +  1.9344662361vw , 3rem );
              column-gap: clamp( 2.1875rem , 1.2589803875rem  +  1.9344662361vw , 3rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.1875rem , 1.2589803875rem  +  1.9344662361vw , 3rem )) or (column-gap: clamp( 2.1875rem , 1.2589803875rem  +  1.9344662361vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: calc(2.1875rem + 0.8125 * (100vw - 47.99875rem) / 42.00125);
         -moz-column-gap: calc(2.1875rem + 0.8125 * (100vw - 47.99875rem) / 42.00125);
              column-gap: calc(2.1875rem + 0.8125 * (100vw - 47.99875rem) / 42.00125);
    }
}

@supports (width: clamp( 8.125rem , -1.9458665665rem  +  20.9815184072vw , 16.9375rem )) {
    .decore-hero__item:nth-child(1) {
      width: clamp( 8.125rem , -1.9458665665rem  +  20.9815184072vw , 16.9375rem );
    }
}

@supports not (width: clamp( 8.125rem , -1.9458665665rem  +  20.9815184072vw , 16.9375rem )) {
    .decore-hero__item:nth-child(1) {
      width: calc(8.125rem + 8.8125 * (100vw - 47.99875rem) / 42.00125);
    }
}

@supports (width: clamp( 8.125rem , -1.9458665665rem  +  20.9815184072vw , 16.9375rem )) {
    .decore-hero__item:nth-child(4) {
      width: clamp( 8.125rem , -1.9458665665rem  +  20.9815184072vw , 16.9375rem );
    }
}

@supports not (width: clamp( 8.125rem , -1.9458665665rem  +  20.9815184072vw , 16.9375rem )) {
    .decore-hero__item:nth-child(4) {
      width: calc(8.125rem + 8.8125 * (100vw - 47.99875rem) / 42.00125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 75em) {
@supports (padding-left: clamp( 0.625rem , -14.4850180547rem  +  31.480024073vw , 9.125rem )) {
    .hero__body {
      padding-left: clamp( 0.625rem , -14.4850180547rem  +  31.480024073vw , 9.125rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -14.4850180547rem  +  31.480024073vw , 9.125rem )) {
    .hero__body {
      padding-left: calc(0.625rem + 8.5 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-right: clamp( 0.625rem , -14.4850180547rem  +  31.480024073vw , 9.125rem )) {
    .hero__body {
      padding-right: clamp( 0.625rem , -14.4850180547rem  +  31.480024073vw , 9.125rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -14.4850180547rem  +  31.480024073vw , 9.125rem )) {
    .hero__body {
      padding-right: calc(0.625rem + 8.5 * (100vw - 47.99875rem) / 27.00125);
    }
}
}

@media (min-width: 20em) and (max-width: 47.99875em) {
@supports (width: clamp( 6.25rem , 4.9106544935rem  +  6.6967275325vw , 8.125rem )) {
    .decore-hero__item:nth-child(1) {
      width: clamp( 6.25rem , 4.9106544935rem  +  6.6967275325vw , 8.125rem );
    }
}

@supports not (width: clamp( 6.25rem , 4.9106544935rem  +  6.6967275325vw , 8.125rem )) {
    .decore-hero__item:nth-child(1) {
      width: calc(6.25rem + 1.875 * (100vw - 20rem) / 27.99875);
    }
}

@supports (width: clamp( 5rem , 2.7677574892rem  +  11.1612125541vw , 8.125rem )) {
    .decore-hero__item:nth-child(4) {
      width: clamp( 5rem , 2.7677574892rem  +  11.1612125541vw , 8.125rem );
    }
}

@supports not (width: clamp( 5rem , 2.7677574892rem  +  11.1612125541vw , 8.125rem )) {
    .decore-hero__item:nth-child(4) {
      width: calc(5rem + 3.125 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (min-width: 31.875em) and (max-width: 90em) {
@supports (width: clamp( 16.25rem , 14.1935483871rem  +  6.4516129032vw , 20rem )) {
    .form-mail__input-container {
      width: clamp( 16.25rem , 14.1935483871rem  +  6.4516129032vw , 20rem );
    }
}

@supports not (width: clamp( 16.25rem , 14.1935483871rem  +  6.4516129032vw , 20rem )) {
    .form-mail__input-container {
      width: calc(16.25rem + 3.75 * (100vw - 31.875rem) / 58.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 1.5322580645rem  +  1.0752688172vw , 2.5rem )) or (column-gap: clamp( 1.875rem , 1.5322580645rem  +  1.0752688172vw , 2.5rem ))) {
    .partners__body {
      -webkit-column-gap: clamp( 1.875rem , 1.5322580645rem  +  1.0752688172vw , 2.5rem );
         -moz-column-gap: clamp( 1.875rem , 1.5322580645rem  +  1.0752688172vw , 2.5rem );
              column-gap: clamp( 1.875rem , 1.5322580645rem  +  1.0752688172vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 1.5322580645rem  +  1.0752688172vw , 2.5rem )) or (column-gap: clamp( 1.875rem , 1.5322580645rem  +  1.0752688172vw , 2.5rem ))) {
    .partners__body {
      -webkit-column-gap: calc(1.875rem + 0.625 * (100vw - 31.875rem) / 58.125);
         -moz-column-gap: calc(1.875rem + 0.625 * (100vw - 31.875rem) / 58.125);
              column-gap: calc(1.875rem + 0.625 * (100vw - 31.875rem) / 58.125);
    }
}
}

@media (min-width: 20em) and (max-width: 31.875em) {
@supports ((-moz-column-gap: clamp( 1.25rem , 0.1973684211rem  +  5.2631578947vw , 1.875rem )) or (column-gap: clamp( 1.25rem , 0.1973684211rem  +  5.2631578947vw , 1.875rem ))) {
    .partners__body {
      -webkit-column-gap: clamp( 1.25rem , 0.1973684211rem  +  5.2631578947vw , 1.875rem );
         -moz-column-gap: clamp( 1.25rem , 0.1973684211rem  +  5.2631578947vw , 1.875rem );
              column-gap: clamp( 1.25rem , 0.1973684211rem  +  5.2631578947vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.1973684211rem  +  5.2631578947vw , 1.875rem )) or (column-gap: clamp( 1.25rem , 0.1973684211rem  +  5.2631578947vw , 1.875rem ))) {
    .partners__body {
      -webkit-column-gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 11.875);
         -moz-column-gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 11.875);
              column-gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 11.875);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 31.875em) {
  .partners__item:nth-child(1) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .partners__item:nth-child(2) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .partners__item:nth-child(3) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .partners__item:nth-child(4) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}

@media (max-width: 61.99875em) and (min-width: 75em) {
  .featur__body {
    gap: 2.5rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .featur__body {
      gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .featur__body {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .button--green:hover {
    color: rgb(34, 197, 94);
    background: rgb(220, 252, 231);
    border: 0.0625rem solid rgb(34, 197, 94);
  }

  .button--white:hover {
    background: rgb(213, 218, 225);
  }

  .menu__link:hover {
    color: rgb(136, 150, 171);
  }

  .menu__link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .button-login:hover {
    color: rgb(136, 150, 171);
  }

  .button-singup:hover {
    color: rgb(34, 197, 94);
    background: rgb(220, 252, 231);
    border: 0.0625rem solid rgb(34, 197, 94);
  }

  .featur__image img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .partners::after{ background: url(../img/partners/grid-decore.webp) center/100% no-repeat; }

.webp .features__container::after{ background: url(../img/partners/grid-decore.webp) center/100% no-repeat; }